.message{
  margin: 25px 0 0 0;
  
}

.landing-page>img{
  width: 350px;
  float:right;
}

.message>h1{
  display: inline;
  padding: 5px 10px;
  color: white;
  background-color:#43CC47;
  background-color: #1982FC;
  border-radius: 10px;
}


