.App {
  height: 100vh;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-rows: 50px 50px 1fr 30px;
  grid-template-areas: "header" "nav" "main" "footer";
}

.App-link {
  color: #61dafb;
}

header{
  grid-area: "header";
}

nav{
  grid-area:"nav";
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

main{
  grid-area: "main";
}

footer{
  grid-area: "footer";
}